.form-image {
    height:250px;
    width:250px;
}

.radio-button {
    display:none;
}


/* #HIITlabel {
    background-image: url("https://hiset.ets.org/rsc/img/icons/icon-tt-checklist.svg");
    height: 25px;
    width: 25px;
}

#HIITlabel {
    background-image: url("https://hiset.ets.org/rsc/img/icons/icon-tt-checklist.svg");
    height: 25px;
    width: 25px;
}

#HIITlabel {
    background-image: url("https://hiset.ets.org/rsc/img/icons/icon-tt-checklist.svg");
    height: 25px;
    width: 25px;
} */